/* Global Styles */

iframe {
    border: none;
    padding: 0.25em;
}

/* Search Component Styles */

#search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#search input {
    padding: 10px;
    flex-grow: 7;
}

#search img {
    width: 50px;
    flex-grow: 1;
}

#search button {
    flex-grow: 1;
    padding: 11px;
    background: white;
    border: 1px solid gray;
    cursor: pointer;
}

/* Videos Component */

#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.video-items {
    flex-grow: 5;
}